@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #4c4c4c;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.spacing-top-bot7 {
	padding-top: 70px;
	padding-bottom: 70px;
}
.spacing-top-bot5 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.padding-left5 {
	padding-left: 5px;
	padding-right: 5px;
}
.header-bg {
	background: url(../image/header-bg.jpg) center top no-repeat;
	background-size: cover;
	min-height: 648px;
}
.maxwidth {
	max-width: 1002px;
	margin: 0 auto;
	position: relative;
}
.navbar-default {
	background-color: #ffffff;
	border-color: #ffffff;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 15px 0;
	margin-top: 10px;
}

.navbar li a {
	font-weight: 500;
}
.navbar li a:hover {
	color: #cb181e !important;
}
.navbar-brand {
	margin: -10px 0 0 0;
	padding: 0 40px 0 20px;
}
.freshcut-head {
	position: absolute;
	right: 19%;
	top: 0px;
	margin-top: 5%;
}
.freshcut-head h1 {
	font-size: 65px;
	font-weight: 300;
	color: #fff;
	line-height: 40px;
	margin: 0;
}
.freshcut-head h3 {
	font-size: 19px;
	font-weight: 300;
	color: #fff;
}
.freshcut-head a {
	font-size: 19px;
	font-weight: 300;
	color: #edf300;
	padding: 0 22px 0 0;
	background: url(../image/ordernow-icon.png) right center no-repeat;
}
.social-top li {
	margin: 0;
	padding: 9px 2px;
	display: inline-block;
}
.social-top li:last-child {
	padding-right: 40px;
}
.social-top li a {
	margin: 0;
	padding: 0;
}
.section-1 {
	padding-top: 90px;
	padding-bottom: 90px;
}
.section-1 h1 {
	margin: 0;
	padding: 0;
	font-size: 25px;
	font-weight: 300;
	color: #3b3b3b;
}
.section-1 h2 {
	margin: 0;
	padding: 0 0 80px 0;
	font-size: 40px;
	font-weight: 300;
	color: #9cbd30;
}
.section-1 h3, .section-1 p {
	font-weight: 300;
}
.product-section-1 {
	background: url(../image/pattern.jpg) center top repeat-x;
	background-size: cover;
}
.product-section-1 h3 {
	margin: 0;
	padding: 0 0 30px 0;
	font-size: 24px;
	font-weight: 400;
	color: #309250;
}
.product-section-1 p {
	font-weight: 300;
	color: #a38e7b;
}
.product-section-1 img {
	margin-bottom: 30px;
}
.product-section-1 a {
	font-weight: 400;
	color: #309250;
}
.search-section {
	max-width: 966px;
	min-height: 280px;
	background: url(../image/map-bg.jpg) center top no-repeat;
	background-size: cover;
}
.close-toyou {
	background: #fff;
	width: 80%;
	margin: 50px auto;
	padding: 50px 20px 70px 20px;
}
.close-toyou h3 {
	font-size: 20px;
	color: #9cbd30;
	background: url(../image/search-icon.png) left center no-repeat;
	font-weight: 400;
	margin: 0 0 5px 0;
	padding: 0 0 0 31px;
	line-height: 50px;
}
.search-input {
	background: #ededed;
	border: none;
	color: #929292;
	font-size: 12px;
	padding: 12px 10px;
	width: 60%;
}
.whenyou {
	background: #fff;
	padding: 20px;
	position: absolute;
	right: -2px;
	top: 60px;
}
.whenyou h3 {
	color: #9cbd30;
	font-weight: 300;
	margin: 0;
}
.whenyou p {
	color: #bb8b5b;
	font-weight: 300;
}
.search-btn {
	background: #cb181e;
	border: none;
	color: #fff;
	text-align: center;
	padding: 10px 40px;
}
.footer {
	position: relative;
	background: #f3f3f3 url(../image/footer-bg.jpg) top center repeat-x;
	min-height: 600px;
	margin-top: 20px;
}
.step1 img {
	width: 100%;
	height: auto;
}
.step1 h3 {
	font-size: 18px;
	margin: 0;
	padding: 20px 0 0 0;
}
.step1 h3 span {
	font-size: 17px;
}

#top {
    background:url(../image/pattern.jpg) center center no-repeat;
	background-size:cover;
    border-bottom: 1px solid #e5e5e5;
    padding: 4px 0px 3px 0;
    margin: 0 0 20px 0;
    min-height: 40px;
}
#top .container {
    padding: 0 20px;
}
#top .btn-link, #top-links li, #top-links a {
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
}
#top-links {
    padding-top: 10px;
}
.panel-heading{
	font-size:35px;
	color:#3b3b3b;
	font-weight:300;
	padding:20px;
	}
.thumbnail .caption h4{color:#9cbd30; font-weight:bold;}
.thumbnail .caption h4 a{color:#3b3b3b; font-weight:400;}	
.footer-links {
	padding-top: 25px;
}
.footer-links h3 {
	color: #505050;
	font-size: 17px;
	border-bottom: 1px solid #d3d3d3;
	padding: 0 0 10px 0;
	font-weight: 600;
}
.footer-links p {
	color: #505050;
	font-size: 14px;
}
.footer-links ul li {
	display: block;
	padding: 3px 0;
}
.footer-links ul li a {
	color: #505050;
	font-size: 14px;
}
.footer-social {
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 30px;
	margin-top: 40px;
}
.footerlogo {
	padding-top: 20px;
}
.footerlogo p {
	padding-top: 10px;
}


/*======================new-css-10-03-2016=====================*/
#cart .btn{
	background: #ECE8DF;
}
.open > .dropdown-menu{min-width: 250px;}
.product-thumb{
	border: 1px solid rgb(212, 212, 212);
	padding: 10px 20px;
	border-radius: 4px;
	margin-top: 20px;
	min-height: 431px;
}
.product-thumb .caption{
	min-height: 150px;
}
.product-thumb button{
	background: #CB181E;
	color: #ffffff;
	border-radius: 4px;
	border: none;
	padding: 4px 10px;
}
#button-account, #button-login, #button-quote, .buttons .btn, .btn-primary, .btn-primary:hover{
	background: #CB181E;
	color: #ffffff;
	border-radius: 4px;
	border: 1px solid #CB181E;
	padding: 6px 15px;
}
.input-group-btn input, #list-view, #grid-view{
	background: #CB181E;
	border: 1px solid #CB181E;
	color: #ffffff;
}
#list-view{
	border-right: 2px solid #ffffff;
}
.pagination > .active > span, .pagination > .active > span:hover{
	background: #CB181E;
	border-color: #CB181E ;
}
#compare-total, .product-thumb .caption a{
	color: #309250;
}
