@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #4c4c4c;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.spacing-top-bot7 {
	padding-top: 70px;
	padding-bottom: 70px;
}
.spacing-top-bot5 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.padding-left5 {
	padding-left: 5px;
	padding-right: 5px;
}
.header-bg {
	background: url(../image/header-bg.jpg) center top no-repeat;
	background-size: cover;
	min-height: 648px;
}
.maxwidth {
	max-width: 1002px;
	margin: 0 auto;
	position: relative;
}
.navbar-default {
	background-color: #ffffff;
	border-color: #ffffff;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 15px 0;
	margin-top: 10px;
}

.navbar li a {
	font-weight: 600;
	font-size: 16px;
	position: relative;
	transition: all 0.5s;
}
.navbar li a:after{
	position: absolute;
	content: "";
	background: #cb181e;
	height: 2px;
	bottom: 10px;
	left: 50%;
	right: 50%;
	opacity: 0;
	transition: all 0.5s;
}
.navbar li a:hover:after{
	left: 10px;
	right: 10px;
	opacity: 1;
}
.navbar li a:hover {
	color: #cb181e !important;
}
.navbar-brand {
	margin: -10px 0 0 0;
	padding: 0 40px 0 20px;
}
.freshcut-head {
	position: absolute;
	right: 19%;
	top: 0px;
	margin-top: 5%;
}
.freshcut-head h1 {
	font-size: 65px;
	font-weight: 300;
	color: #fff;
	line-height: 40px;
	margin: 0;
}
.freshcut-head h3 {
	font-size: 19px;
	font-weight: 300;
	color: #fff;
}
.freshcut-head a {
	font-size: 19px;
	font-weight: 300;
	color: #edf300;
	padding: 0 22px 0 0;
	background: url(../image/ordernow-icon.png) right center no-repeat;
}
.social-top li {
	margin: 0;
	padding: 9px 2px;
	display: inline-block;
}
.social-top li:last-child {
	padding-right: 40px;
}
.social-top li a {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 27px;
    width: 27px;
    text-align: center;
    background: #494949;
    color: #ffffff;
    border-radius: 100%;
    font-weight: bold;
    padding-top: 3px;
    transition: all 0.5s;
}
.social-top .google a:hover{
	background: #cb2027;
}
.social-top .facebook1 a:hover{
	background: #4060A5;
}
.social-top .twitter1 a:hover{
	background: #00ABE3;
}
.social-top .youtube1 a:hover{
	background: #cb2027;
}
.section-1 {
	padding-top: 40px;
	padding-bottom: 20px;
}
.section-1 h1 {
	margin: 0;
	padding: 0;
	font-size: 25px;
	font-weight: 300;
	color: #3b3b3b;
}
.section-1 h2 {
	margin: 0;
	padding: 0 0 20px 0;
	font-size: 40px;
	font-weight: 300;
	color: #9cbd30;
}
.section-1 h3, .section-1 p {
	font-weight: 300;
}
.product-section-1 {
	background: url(../image/pattern.jpg) center top repeat-x;
	background-size: cover;
}
.product-section-1 h3 {
	margin: 0;
	padding: 0 0 30px 0;
	font-size: 24px;
	font-weight: 400;
	color: #309250;
}
.product-section-1 p {
	font-weight: 300;
	color: #a38e7b;
}
.product-section-1 img {
	margin-bottom: 30px;
}
.product-section-1 a {
	font-weight: 400;
	color: #309250;
}
.search-section {
	max-width: 966px;
	min-height: 280px;
	background: url(../image/map-bg.jpg) center top no-repeat;
	background-size: cover;
}
.close-toyou {
	background: #fff;
	width: 80%;
	margin: 50px auto;
	padding: 50px 20px 70px 20px;
}
.close-toyou h3 {
	font-size: 20px;
	color: #9cbd30;
	background: url(../image/search-icon.png) left center no-repeat;
	font-weight: 400;
	margin: 0 0 5px 0;
	padding: 0 0 0 31px;
	line-height: 50px;
}
.search-input {
	background: #ededed;
	border: none;
	color: #929292;
	font-size: 12px;
	padding: 12px 10px;
	width: 60%;
}
.whenyou {
	background: #fff;
	padding: 20px;
	position: absolute;
	right: -2px;
	top: 60px;
}
.whenyou h3 {
	color: #9cbd30;
	font-weight: 300;
	margin: 0;
}
.whenyou p {
	color: #bb8b5b;
	font-weight: 300;
}
.search-btn {
	background: #cb181e;
	border: none;
	color: #fff;
	text-align: center;
	padding: 10px 40px;
}
.footer {
	position: relative;
	background: #f3f3f3 url(../image/footer-bg.jpg) top center repeat-x;
	min-height: 600px;
	margin-top: 20px;
}
.step1 img {
	width: 100%;
	height: auto;
}
.step1 h3 {
	font-size: 18px;
	margin: 0;
	padding: 20px 0 0 0;
}
.step1 h3 span {
	font-size: 17px;
}

#top {
    background:url(../image/pattern.jpg) center center no-repeat;
	background-size:cover;
    border-bottom: 1px solid #e5e5e5;
    padding: 4px 0px 3px 0;
    margin: 0 0 20px 0;
    min-height: 40px;
}
#top .container {
    padding: 0 20px;
}
#top .btn-link, #top-links li, #top-links a {
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
}
#top-links {
    padding-top: 10px;
}
.panel-heading{
	font-size:35px;
	color:#3b3b3b;
	font-weight:300;
	padding:20px;
	}
.thumbnail .caption h4{color:#9cbd30; font-weight:bold;}
.thumbnail .caption h4 a{color:#3b3b3b; font-weight:400;}	
.footer-links {
	padding-top: 25px;
}
.footer-links h3 {
	color: #505050;
	font-size: 17px;
	border-bottom: 1px solid #d3d3d3;
	padding: 0 0 10px 0;
	font-weight: 600;
}
.footer-links p {
	color: #505050;
	font-size: 14px;
}
.footer-links ul li {
	display: block;
	padding: 3px 0;
}
.footer-links ul li a {
	color: #505050;
	font-size: 14px;
}
.footer-social {
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 30px;
	margin-top: 40px;
}

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}
.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-google-plus:hover { /* round google plus icon*/
    background: #e64522;
}

.social .fa-github:hover { /* round github icon*/
    background: #343434;
}

.social .fa-pinterest:hover { /* round pinterest icon*/
    background: #cb2027;
}

.social .fa-linkedin:hover { /* round linkedin icon*/
    background: #0094BC;
}

.social .fa-flickr:hover { /* round flickr icon*/
    background: #FF57AE;
}

.social .fa-instagram:hover { /* round instagram icon*/
    background: #375989;
}

.social .fa-vimeo-square:hover { /* round vimeo square icon*/
    background: #83DAEB;
}

.social .fa-stack-overflow:hover { /* round stack overflow icon*/
    background: #FEA501;
}

.social .fa-dropbox:hover { /* round dropbox icon*/
    background: #017FE5;
}

.social .fa-tumblr:hover { /* round tumblr icon*/
    background: #3a5876;
}

.social .fa-dribbble:hover { /* round dribble icon*/
    background: #F46899;
}

.social .fa-skype:hover { /* round skype icon*/
    background: #00C6FF;
}

.social .fa-stack-exchange:hover { /* round stack exchange icon*/
    background: #4D86C9;
}

.social .fa-youtube:hover { /* round youtube icon*/
    background: #FF1F25;
}

.social .fa-xing:hover { /* round xing icon*/
    background: #005C5E;
}

.social .fa-rss:hover { /* round rss icon*/
    background: #e88845;
}

.social .fa-foursquare:hover { /* round foursquare icon*/
    background: #09B9E0;
}

.social .fa-youtube-play:hover { /* round youtube play button icon*/
    background: #DF192A;
}


.footerlogo {
	padding-top: 20px;
}
.footerlogo p {
	padding-top: 10px;
}

.top_contact{
	font-size:17px;
	padding-top:25px;
	color: #000;
    text-shadow: 0 1px 0 #FFF;
}
.search_input{
	width:600px;
}
.search_input input{
	width:100%;
}
.search_input .input-group{
	width:100%;
	box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.search_input .btn-default{
	width:100%;
	background-color:#006e1c;
	color:#fff;
}
#popup_iiner{
	background: rgba(0,0,0,0.6);
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 999999;
}
#popup{
	max-width: 1000px;
    min-height: 300px;
    background: #ffffff;
    position: absolute;
    margin: 0 auto;
    top: 25%;
    left: 0;
    right: 0;
    display: none;
    border-radius: 10px;
    padding: 20px;
}
.popup_logo{
	max-width: 220px;
	margin: 0 auto;
	margin-top: -100px;
	background: #fff;
	border-radius: 6px 6px 0 0;
	padding: 5px 20px 0 20px;
}
.popup_under{
	border: 1px solid #ccc;
	padding:20px;
	border-radius: 3px;
	min-height: 260px;
	position: relative;
}
.remove_icon{
	position: absolute;
	top: -18px;
	right: -14px;
	cursor: pointer;
}
.close_1{
	position: absolute;
    right: 40px;
    top: 31px;
    font-size: 20px;
    cursor: pointer;
}
.spacing12{
	    padding: 40px 0 0 0px;
}
.divider1{
	border-right: 1px solid #cccccc;
	    min-height: 210px;
}
.text01{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
/*======================new-css-10-03-2016=====================*/
#cart .btn{
	background: #ECE8DF;
}
.open > .dropdown-menu{min-width: 250px;}
.product-thumb{
	border: 1px solid rgb(212, 212, 212);
	padding: 10px 20px;
	border-radius: 4px;
	margin-top: 20px;
	min-height: 431px;
}
.product-thumb .caption{
	min-height: 150px;
}
.product-thumb button{
	background: #CB181E;
	color: #ffffff;
	border-radius: 4px;
	border: none;
	padding: 4px 10px;
}
#button-account, #button-login, #button-quote, .buttons .btn, .btn-primary, .btn-primary:hover{
	background: #CB181E;
	color: #ffffff;
	border-radius: 4px;
	border: 1px solid #CB181E;
	padding: 6px 15px;
}
.input-group-btn input, #list-view, #grid-view{
	background: #CB181E;
	border: 1px solid #CB181E;
	color: #ffffff;
}
#list-view{
	border-right: 2px solid #ffffff;
}
.pagination > .active > span, .pagination > .active > span:hover{
	background: #CB181E;
	border-color: #CB181E ;
}
#compare-total, .product-thumb .caption a{
	color: #309250;
}
.featured_box{
	background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 30px 20px;
}
.featured_box h3{
	border-bottom: 1px solid #ccc;
}

.featured_box img{
	margin-bottom: 0px;
}
.redborder{
	border-top: 2px solid #d1301e;
	padding-top: 20px;
	margin-top: 30px;
}

.right_searcharea label{
display: block;
}

.inputstyle1{
	width: 50%;
	height: 35px;
}
.inputstyle2{
	width: 80%;
	height: 35px;
	padding-left: 10px;
}

.start_shpippingbtn{
	background: #9cbd30;
	border-radius: 3px;
	color: #ffffff;
}
.skip_btn{
	background: #cb181e;
	border-radius: 3px;
	color: #ffffff;
}



@media(max-width: 667px){
	.featured_box{margin-bottom: 20px;}
	.search_input{
	width:auto !important;
}
.step1{text-align: center; margin-bottom: 20px;}
.step1 img{width: auto !important;}
.section-1 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.top_contact{text-align: center;}
.cart_displaytop {float: inherit !important;}
.social_icon {float: inherit !important; text-align: center;}
.top_contact{text-align: center;}
.top-links{text-align: center;}
.top-links ul.list-inline{float: inherit !important;}
#popup{
	position: relative;
}
.popup_logo{
	margin-top: 0;
}
#popup_iiner{
	background: rgba(0,0,0,0.6);
	position: absolute;
	height: 100%;
	}
}
@media(max-width: 480px){
	.step1{text-align: center;}
	
}



