<div class="navbar-form">
	<div id="search" class="input-group">
	  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="Search for fresh fruits and vegetables by hindi or english name" autocomplete class="form-control" />
	  <span class="input-group-btn">
	    <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
	  </span>
	</div>
</div>